<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/templates/appointment.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Manage Appointments</title>
</head>
<body>
    <header>
        <div>
            <h1>
                Manage Appointments
            </h1>
        </div>
    </header>
    <section id="main-content">
        <div id="management">
          
        </div>
    </section>
    <footer></footer>
</body>
<script type="text/javascript" src="/js/appointment.js"></script>
</html>