<header>
    <div id="page-title">
        <h1>
            Scheduling
        </h1>
    </div>
    <div id="header-login">
        <div id="login" onClick="goToLogin()"><h3>Login</h3></div>
    </div>
</header>